@use './partials/variables' as *;
@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $main_colour;
}
.main-title {
    font-size: 3rem;
}
.ms-writing {
    color: $write_white;
}
ul{
    list-style: none;
}